:root {
    --red-color: #ea4a55
}

.about {
    overflow-y: auto;
}

.about_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 17px;
    color: white;
}

.title {
    animation-name: moveRight;
    animation-duration: 1s;
    color: var(--red-color);
    font-weight: 800;
    margin-bottom: 10px;
}

.titleTwo {
    animation-name: moveLeft;
    animation-duration: 1.2s;
    margin-bottom: 15px;
}

.titleThree {
    animation-name: moveUp;
    animation-duration: 1.4s;
    margin-bottom: 15px;
}

.text {
    font-size: 16px;
    margin-bottom: 20px;
}

.about_desc {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.about_desc h2 {
    color: var(--red-color);
    margin-left: 15px;
    margin-bottom: 15px;
    animation-name: moveRight;
    animation-duration: 1s;
}

.about_desc .p1 {
    color: white;
    margin-left: 15px;
    margin-bottom: 8px;
    animation-name: moveLeft;
    animation-duration: 1.2s;
}

.about_desc .p1 span {
    color: var(--red-color);
    font-weight: 900;
}

.about_desc .p2 {
    color: white;
    margin-left: 15px;
    margin-bottom: 8px;
    animation-name: moveLeft;
    animation-duration: 1.2s;
}

.about_desc .p2 span {
    color: var(--red-color);
    font-weight: 900;
}

.about_desc .p3 {
    color: white;
    margin-left: 15px;
    animation-name: moveUp;
    animation-duration: 1.4s;
}

.about_desc .p3 span {
    color: var(--red-color);
    font-weight: 900;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}